* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: Poppins, Inter, "sans-serif";
    text-decoration: none;
    box-sizing: border-box;

}
body {
    overflow-x: hidden;
}

nav {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}
nav i {
    font-size: 1.25rem;
    color: gray;
}
nav .search {
    display: flex;
    align-items: center;
    width: 300px;
    position: relative;
}
.search input {
    background-color: rgb(248, 248, 248);
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
}
.search i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.user {
    display: flex;
    align-items: center;
}
.user .img{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.user .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* ==================NAVBAR ENDS============================ */
ul {
    list-style: none;
}
main {
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    position: relative;
}
section.sidebar {
    flex: 1;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    color: gray;
}

.sidebar .options ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}
.sidebar .pages ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.pages h4 {
    letter-spacing: 2px;
}
section.feed {
    flex: 2;
}
section.friends {
    flex: 1;
}